/Fundaments/Arithmetics/nbproject/private/
/Fundaments/Arithmetics/build/
/Fundaments/hackerRankTest/nbproject/private/
/Fundaments/hackerRankTest/build/
/Fundaments/Box/nbproject/private/
/Fundaments/Box/build/
/Fundaments/ContextoEstatico/nbproject/private/
/Fundaments/ContextoEstatico/build/
/Fundaments/Herencia/nbproject/private/
